/* Helpers */

.helpful-red {
  color: #ed7161;
}

.helpful-green {
  color: #88c057;
}

.helpful-margin-top-auto {
  margin-top: auto;
}

.helpful-margin-right-auto {
  margin-right: auto;
}

.helpful-margin-bottom-auto {
  margin-bottom: auto;
}

.helpful-margin-left-auto {
  margin-left: auto;
}

.helpful-margin-top {
  margin-top: 12px;
}

.helpful-margin-right {
  margin-right: 12px;
}

.helpful-margin-bottom {
  margin-bottom: 12px;
}

.helpful-margin-left {
  margin-left: 12px;
}

.helpful-margin-top-small {
  margin-top: 6px;
}

.helpful-margin-right-small {
  margin-right: 6px;
}

.helpful-margin-bottom-small {
  margin-bottom: 6px;
}

.helpful-margin-left-small {
  margin-left: 6px;
}

/* Form */

.helpful-widget-form {
  display: flex;
  flex-direction: row;
  padding: 0 12px 12px;
  margin: 0 -12px 12px;
  color: #ddd;
  border-bottom: 1px solid #eee;
}

.helpful-widget-form > div {
  flex: 0 1 auto;
}

/* Content */

.helpful-widget-content {
  position: relative;
  margin: 0 0 12px;
}

/* Panels */

.helpful-widget-panels {
  margin: 0 -12px;
}

.helpful-widget-panel {
  margin: 0;
}

.helpful-widget-panel button {
	display: block;
	color: rgb(50, 55, 60);
	text-decoration: none;
	border: 0;
	background: none;
	position: relative;
	font-weight: 600;
	margin: 0;
	width: 100%;
	text-align: left;
	cursor: pointer;
  padding: 12px;
  border-width: 1px 0 0;
  border-color: #eee;
  border-style: solid;
}

.helpful-widget-panel button:hover {
  background-color: rgb(249, 249, 249);
}

.helpful-widget-panel button .icon {
	border-color: #82878c;
	border-style: solid;
	border-width: 0 2px 2px 0;
	height: .4rem;
	pointer-events: none;
	position: absolute;
	right: 1.5em;
	top: 50%;
	transform: translateY(-70%) rotate(45deg);
	width: .4rem;
}

.helpful-widget-panel button:hover .icon {
  border-color: #555;
}

.helpful-widget-panel.active button .icon {
	transform: translateY(-30%) rotate(-135deg);
}

.helpful-widget-panel ul {
  display: none;
}

.helpful-widget-panel.active ul {
  display: block;
  padding: 0;
  margin: 0;
  border-width: 1px 0 0;
  border-color: #eee;
  border-style: solid;
}

.helpful-widget-panel ul li {
  padding: 6px 12px 0;
}

/* Loading Icon */

.helpful-widget-content .loader {
  text-align: center;
  padding: 12px;
}

.helpful-widget-content .loader i {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}

/* Footer */

.helpful-widget-footer {
  margin: 0 -12px -12px;
  color: #82878c;
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
}

.helpful-widget-footer a {
  padding: 12px;
  display: inline-block;
  border-width: 0 1px 0 0;
  border-color: #eee;
  border-style: solid;
  color: #82878c;
  background-color: #f5f5f5;
  text-decoration: none;
}

.helpful-widget-footer a:hover {
  background-color: #fff;
  color: #555;
  text-decoration: none;
}

.helpful-widget-footer .helpful-widget-total {
  float: right;
  padding: 12px;
}

/* Keyframes for loading icon */

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}