/**
 * Helpful Charts
 *
 * @author  Devhats
 * @version 1.0
 */

#helpful_widget .helpful-counter {}

#helpful_widget .helpful-counter-pro {
	width: calc( 50% - 45px );
	margin-right: 10px;
	display: inline-block;
	padding: 30px 20px 50px;
	background-color: #2ecc71;
	color: #fff;
	text-align: center;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}

#helpful_widget .helpful-counter-contra {
	width: calc( 50% - 45px );
	display: inline-block;
	padding: 30px 20px 50px;
	background-color: #e74c3c;
	color: #fff;
	text-align: center;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}

#helpful_widget .helpful-counter-info {
	text-transform: uppercase;
	position: absolute;
	width: calc( 100% - 10px );
	text-align: center;
	bottom: 5px;
	left: 0;
	padding: 5px 5px;
	background-color: rgba(0,0,0,.15);
}

#helpful_widget hr {
	background-color: #e5e5e5;
	border-color: #eee;
	border-width: 1px 0 0 0;
	width: calc(100% + 25px);
	margin: 10px -12.5px;
}

#helpful_widget .helpful-footer {
  position: relative;
  margin: -12px;
  display: block;
  height: 42px;
}

#helpful_widget .helpful-settings {
  position: absolute;
  right: 0;
  bottom: 0;
}

#helpful_widget .helpful-settings a {
	font-size: 90%;
	border-left: 1px solid #eee;
	color: #999;
  width: 40px;
  height: 40px;
  display: block;
}

#helpful_widget .helpful-settings a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#helpful_widget .helpful-settings a:hover {
	border-left: 1px solid #eee;
	background: #fafafa;
	color: #72777c;
}

#helpful_widget .helpful-credits {
	font-size: 90%;
	color: #bbb;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 12px;
}

#helpful_widget .helpful-credits a {
	color: #bbb;
}

#helpful_widget ul {
  display: none;
}

#helpful_widget .clickable {
  cursor: pointer;
}
