.helpful-red {
    color: #ed7161
}

.helpful-green {
    color: #88c057
}

.helpful * {
    box-sizing: border-box;
}

.helpful p:empty {
    display: none;
}

.helpful {
    color: #333;
    position: relative;
    margin-top: 25px;
    padding-bottom: 25px;
    font-size: 1rem;
    line-height: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* HEADING */

.helpful>.helpful-header>.helpful-headline {
    color: #333;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0 0 12.5px;
}


/* CONTENT */

.helpful>.helpful-content {
    color: #333;
    font-size: 1rem;
    line-height: 1.6rem;
}

.helpful>.helpful-content>a {
    color: #333;
    text-decoration: underline;
}

.helpful>.helpful-content>a:hover {
    color: #333;
    text-decoration: none;
}


/* CONTROLS */

.helpful>.helpful-controls,
.helpful .helpful-feedback-controls {
    display: flex;
    margin-top: 12.5px;
}

.helpful .helpful-content .helpful-button,
.helpful .helpful-feedback-controls .helpful-button {
    width: auto;
}

@media all and (max-width: 991.98px) {
    .helpful>.helpful-controls,
    .helpful .helpful-feedback-controls {
        flex-direction: column;
    }
}

.helpful>.helpful-controls:after,
.helpful .helpful-feedback-controls:after {
    clear: both;
}

.helpful>.helpful-controls>div,
.helpful .helpful-feedback-controls>div {
    flex: 0 1 auto;
    width: 50%;
}

.helpful>.helpful-controls>div:first-child,
.helpful .helpful-feedback-controls>div:first-child {
    margin-right: 15px;
}

@media all and (max-width: 991.98px) {
    .helpful>.helpful-controls>div,
    .helpful .helpful-feedback-controls>div {
        width: 100%;
        display: block;
        margin: 0 0 10px 0;
    }
}

.helpful .helpful-content .helpful-button,
.helpful>.helpful-controls>div>.helpful-button,
.helpful .helpful-feedback-controls .helpul-button {
    padding: 12px 30px;
    height: 56px;
    max-height: 56px;
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
    color: #fff;
    background-color: #34495e;
    width: auto;
    width: 100%;
    text-align: left;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    border: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.helpful .helpful-content .helpful-button:hover,
.helpful>.helpful-controls>div>.helpful-button:hover,
.helpful .helpful-feedback-controls .helpful-button:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

@media all and (max-width: 991.98px) {
    .helpful>.helpful-controls>div>.helpful-button,
    .helpful .helpful-feedback-controls .helpful-button {
        width: 100%;
        float: none;
        display: block;
        margin: 0 0 10px 0;
    }
}

.helpful>.helpful-controls>div>.helpful-button>.helpful-counter {
    right: -7.5px;
    top: -7.5px;
    color: #fff;
    position: absolute;
    font-size: 0.75rem;
    line-height: 0.75rem;
    background-color: #ed7161;
    padding: 5px 10px;
    border-radius: 25px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    z-index: 2;
}


/* CREDITS */

.helpful>.helpful-footer {
    color: #bbb;
    left: 0;
    width: 100%;
    bottom: -5px;
    font-size: .7rem;
    text-align: left;
    position: absolute;
}

.helpful>.helpful-footer>a {
    color: #bbb;
}


/* FEEDBACK */

.helpful>.helpful-content>.helpful-feedback-form {
    color: #333;
}

.helpful>.helpful-content>.helpful-feedback-form req {
    color: #ed7161;
}

.helpful>.helpful-content>.helpful-feedback-form p {
    margin: 0 0 12.5px;
}

.helpful>.helpful-content>.helpful-feedback-form>p,
.helpful>.helpful-content>.helpful-feedback-form>.feedback-note>p,
.helpful>.helpful-content>.helpful-feedback-form>.group {
    color: #333;
    margin: 0 0 12.5px;
}

.helpful>.helpful-content>.helpful-feedback-form textarea,
.helpful>.helpful-content>.helpful-feedback-form input[type="text"],
.helpful>.helpful-content>.helpful-feedback-form input[type="email"],
.helpful>.helpful-content>.helpful-feedback-form input[type="url"],
.helpful>.helpful-content>.helpful-feedback-form input[type="number"] {
    color: #333;
    width: 100%;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: #e5e5e5;
    background-color: #fff;
    border-radius: 3px;
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 7.5px 15px;
}

.helpful>.helpful-content>.helpful-feedback-form textarea {
    min-height: 150px;
    max-width: 100%;
    font-size: 1rem;
    line-height: 1.6rem;
}

.helpful>.helpful-content>.helpful-feedback-form input[type="checkbox"],
.helpful>.helpful-content>.helpful-feedback-form input[type="radio"] {
    border-style: solid;
    border-width: 1px;
    border-color: #e5e5e5;
    background-color: #fff;
    border-radius: 3px;
    font-size: 1rem;
    line-height: 1.6rem;
}

.helpful>.helpful-content>.helpful-feedback-form>.helpful-button,
.helpful .helpful-feedback-controls .helpful-button {
    color: #fff;
    min-width: 150px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #34495e;
    background-color: #364d63;
    padding: 12px 15px;
    height: 56px;
    max-height: 56px;
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 12.5px 0 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    border-radius: 3px;
}

.helpful>.helpful-content>.helpful-feedback-form>.helpful-button:hover,
.helpful .helpful-feedback-controls .helpful-button:hover {
    background-color: #34495e;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

@media all and (max-width: 992px) {
    .helpful>.helpful-content>.helpful-feedback-form .helpful-button,
    .helpful .helpful-feedback-controls .helpful-button {
        min-width: 100%;
        width: 100%;
        display: block;
    }
}


/* Helpful Feedback Items */

.helpful-feedback-items {
    margin: 0;
    padding: 0;
}

.helpful-feedback-items .helpful-feedback-item {
    display: block;
    list-style: none;
    border: 1px solid #34495e;
    padding: 25px;
    margin-bottom: 25px;
}

.helpful-feedback-author {
    margin-bottom: 12.5px;
}

.helpful-feedback-items .--flex {
    display: flex;
    align-items: center;
}

.helpful-feedback-items .--avatar {
    margin-right: 15px;
}

.helpful-feedback-items .--avatar img {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.helpful-feedback-items .--name {
    font-weight: 600;
}