.helpful-red { color: #ed7161 }
.helpful-green { color: #88c057 }
.helpful * { box-sizing: border-box; }

.helpful {
	position: relative;
	margin: 25px 0 0;
	padding: 0 0 25px;
	font-size: 1rem;
	line-height: 1.6rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* HEADING */

.helpful .helpful-header h3 {
	font-size: 1.4rem;
	font-weight: 700;
	margin: 0 0 12.5px;
}

/* CONTENT */

.helpful .helpful-content {
	font-size: 1rem;
	line-height: 1.6rem;
}

/* CONTROLS */

.helpful .helpful-controls {
  display: flex;
}

@media all and (max-width: 992px) {
	.helpful .helpful-controls {
		flex-direction: column;
	}
}

.helpful .helpful-controls:after {
	clear: both;
}

.helpful .helpful-controls > div {
	flex: 0 1 auto;
	width: 50%;
}

.helpful .helpful-controls > div:first-child {
  margin-right: 15px;
}

@media all and (max-width: 992px) {
	.helpful .helpful-controls > div {
		width: 100%;
		display: block;
		margin: 0px 0px 10px 0px;
	}
}

.helpful .helpful-controls button {
	margin: 0;
  color: #fff;
  background-color: #34495e;
  width: auto;
	width: 100%;
	padding: 15px 25px;
	text-align: left;
	position: relative;
	cursor: pointer;
	border-radius: 3px;
	border: 0px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}

.helpful .helpful-controls button:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}

@media all and (max-width: 992px) {
	.helpful .helpful-controls button {
		width: 100%;
		float: none;
		display: block;
		margin: 0px 0px 10px 0px;
	}
}

.helpful .helpful-controls button span {
	right: -7.5px;
  top: -7.5px;
	color: #fff;
  position: absolute;
  font-size: 0.75rem;
  line-height: 0.75rem;
	background-color: #ed7161;
	padding: 5px 10px;
  border-radius: 25px;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
	z-index: 2;
}

/* CREDITS */

.helpful .helpful-footer {
  color: #bbb;
	left: 0;
	width: 100%;
	bottom: -5px;
	font-size: .7rem;
	text-align: left;
	position: absolute;
}

.helpful .helpful-footer a {
  color: #bbb;
}

/* FEEDBACK */

.helpful .helpful-feedback-form req {
  color: #ed7161;
}

.helpful .helpful-feedback-form p {
  margin: 0 0 12.5px;
}

.helpful .helpful-feedback-form textarea,
.helpful .helpful-feedback-form input[type="text"],
.helpful .helpful-feedback-form input[type="email"],
.helpful .helpful-feedback-form input[type="url"],
.helpful .helpful-feedback-form input[type="number"] {
  width: 100%;
  display: block;
	padding: 15px 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #e5e5e5;
  background-color: #fff;
  border-radius: 3px;
}

.helpful .helpful-feedback-form input[type="checkbox"],
.helpful .helpful-feedback-form input[type="radio"] {
	border-style: solid;
	border-width: 1px;
	border-color: #e5e5e5;
  background-color: #fff;
  border-radius: 3px;
}

.helpful .helpful-feedback-form button {
  color: #fff;
  min-width: 150px;
  text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: #34495e;
	background-color: #364d63;
	padding: 15px 25px;
  margin: 12.5px 0 0;
  cursor: pointer;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
  border-radius: 3px;
}

.helpful .helpful-feedback-form button:hover {
  background-color: #34495e;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}

@media all and (max-width: 992px) {
  .helpful .helpful-feedback-form button {
    min-width: 100%;
    width: 100%;
    display: block;
  }
}
